/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-text-dark: 40 2% 25%;
    --clr-text-light: 28 29% 84%;
    --clr-text-accent: 24 25% 58%;

    --clr-background-body: 28 29% 84%;
    --clr-background-container   : 35 9% 37%;
    --clr-background-backdrop   : 40 2% 25%;

    --clr-border-light: 27 14% 72%;
    --clr-border-dark: 35 9% 37%;
    
    /* font-sizes */
    --fs-72px: 72px;
    --fs-60px: 60px;
    --fs-32px: 32px;
    --fs-24px: 24px;
    --fs-16px: 16px;
    --fs-10px: 10px;
    
    /* font-families */
    --ff-inter: 'Inter', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Reset nav styling */

nav > ul > li {
    list-style: none;
}

/* set up the body */
body {
    font-family: var(--ff-inter);
    background-color: hsl( var(--clr-background-body) );
    min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */
.font-heading-1{
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-72px);
    font-weight: 600;
    line-height: 105%;
}

.font-heading-1-accent{
    font-style: italic;
}

.font-heading-2{
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-60px);
    font-weight: 600;
    line-height: 125%;
}

.font-heading-3{
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-24px);
    font-weight: 600;
    line-height: 125%;
}

.font-body-medium {
    font-size: var(--fs-16px);
    font-weight: 400;
    line-height: 150%;
}

.font-link,
.font-link-n-button{
    font-size: var(--fs-16px);
    font-weight: 600;
    line-height: 150%;
}

.font-body-caption {
    font-size: var(--fs-10px);
    font-weight: 600%;
    line-height: 140%;
}

.font-burger-link {
    font-size: var(--fs-32px);
    font-weight: 600%;
    line-height: 125%;
}

/* colors */

.fc-text-light {
    color: hsl( var(--clr-text-light));
}

.fc-text-dark {
    color: hsl( var(--clr-text-dark));
}

.fc-text-accent {
    color: hsl( var(--clr-text-accent));
}

/* margins */

.m-4 {
    margin: 1rem
}

.mt-20px {
    margin-top: 20px;
}

.mt-40px {
    margin-top: 40px;
}

.ml-8px {
    margin-top: 40px;
}

/* paddings */

.pb-40px {
    padding-bottom: 40px;
}

.link:hover{
    display: inline-block;
    border-bottom: 1px solid hsl(var(--clr-text-dark));
}

.font-caption{
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-10px);
    font-weight: 400;
    line-height: 140%;
}

.flex{
    display: flex;
}

.gap-40 {
    gap: 40px;
}

.gap-20 {
    gap: 20px;
}

.flex-btn{
    display: flex;
    gap: 8px;
}

.oblique-style {
    font-style: oblique 20deg;
}

/* justify content */
.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* text align */
.text-align-center {
    text-align: center;
}

.height20px {
    height: 20px;
}

.grid-design-buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.button-primary{
    flex-wrap:wrap;
    width: 200px;
    height: 64px;
    display: flex;
    place-content: center;
    border-radius: 100px;
    border: none;
    background-color: hsl( var(--clr-background-body) );
}

.button-primary img{
    display: none;
    transition: 0.7s ease-in-out;
}

.button-primary:hover img{
    display: block;
}

.tab-item{
    display: flex;
    background-color: hsl(var(--clr-background-container));
    color: hsl(var(--clr-background-body));
    padding: 8px 16px 8px 8px;
    width: 115px;
    height: 46px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: none;

}

.tab-item-inactive{
    display: flex;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    align-items: center;
    border-radius: 100px;
    border: 1px solid hsl(var(--clr-border-light));
    background-color: transparent;
}

.tab-item-image,
.tab-item-image-inective {
    height: 30px;
    aspect-ratio: 1;
    display: flex;
    place-content: center center;
    border-radius: 50%;
    padding: 7px;
}

.tab-item-image {
    background-color: hsl( var(--clr-background-body) );
}

.tab-item-image-inective {
    background-color: hsl( var(--clr-border-light) );
}

.button-secondary{
    width: 200px;
    height: 44px;
    background-color: transparent;
    border: 1px solid hsl(var(--clr-border-dark));
    border-radius: 100px;
}

.button-secondary:hover{
    background: hsl(var(--clr-background-container));
    color: hsl( var(--clr-text-light));
    border: none;
}

.button-store,
.button-store svg path {
    transition: all 0.2s ease-in-out;
  }


.button-store{
    width: 200px;
    height: 64px;
    background-color: transparent;
    border: 1px solid hsl(var(--clr-border-dark));
    border-radius: 100px;
    padding: 12px 20px;
}

.button-store:hover svg path{
    fill: hsl( var(--clr-text-light));
}

.button-store:hover{
    background-color: hsl(var(--clr-background-container));
    color: hsl( var(--clr-text-light));
}

.button-outline{
    display: flex;
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    place-content: center;
    flex-wrap: wrap;
    background-color: transparent;
}

.icon-dark {
    border: 1px solid hsl( var(--clr-border-dark));
}

.icon-dark:hover {
    background-color: hsl( var(--clr-background-container) );
}

.icon-light {
    border: 1px solid hsl( var(--clr-border-light));
}

.icon-light:hover {
    background-color: hsl( var(--clr-background-body) );
}

.icon-dark:hover svg path{
    stroke: hsl( var(--clr-text-light))
}

.icon-light:hover svg path {
    stroke: hsl(var(--clr-text-dark));
}

.button-burger,
.button-burger-active {
    height: 44px;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    border: 1px solid hsl(var(--clr-border-dark));
    border-radius: 50%;
    background-color: transparent;
}

.button-burger :first-child {
    margin-bottom: 8px;
}

.button-burger-active[aria-expanded="false"]{
    display: none;
}
.button-burger[aria-expanded="true"]{
    display: none;
}


@media (min-width:768px) {
    .button-burger,
    .button-burger-active {
        display: none;
    }

}

@media (max-width:768px) {
    .menu {
        display: none;
    }
}

/* wrapper */
.wrapper {
    max-width: 1440px;
    margin: 20px auto;
    padding-inline: 40px;
}

main > *:where(:not(:last-child)) {
    margin-bottom: 100px;
}

/* ******************** */
/* *******header******* */
/* ******************** */


.logo {
    width: 100px;
    height: 60px;
}

.primary-navigation > ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu,
.menu-font {
    font-size: var(--fs-16px);
    font-weight: 600;
    line-height: 150%;
}

.hero {
    width: 100%;
    height: auto;
    background-image: url('./assets/img-hero.jpg');
    padding: 100px;
    border-radius: 40px;

}
.hero-text {
    width: 530px;
    gap:30px;
}

.hero-text > *:where(:not(:last-child)) {
    margin-bottom: 40px;
}

.hero-header {
    color: hsl(var(--clr-text-light));
    font-size: var(--fs-72px);
    font-weight: 600;
    line-height: 105%;
}

.hero-secondary-text {
    font-size: var(--fs-16px);
    font-weight: 600;
    line-height: 150%;
    color: hsl( var(--clr-text-light));
}

/* ******************** */
/* *******Enjoy******* */
/* ******************** */

#enjoy {
    margin-top: 20px;
}

/* ******************** */
/* *******Favorite******* */
/* ******************** */

.favorite-header-text {
    text-align: center;
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-60px);
    font-weight: 600;
    line-height: 125%;
    font-style: normal;
}

.slider-pic-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 480px;
    height: 480px;
}

.slider-pic-container picture {
    height: 560px;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
}

.favorite-slider-text {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}


.scroll-control >* {

    width: 40px;
    height: 4px;
    margin-inline: 6px;
    margin-top: 40px;
    background-color: hsl( var(--clr-border-light) );
    border-radius: 100px;
}

.active-control {
    background-color: hsl(var(--clr-border-dark));

}

/* ******************** */
/* *******about******* */
/* ******************** */

.about-pictures {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-auto-flow: column;
}
.about-pictures > img:nth-child(1) {
    height: 590px;
}
.about-pictures > img:nth-child(2) {
    height: 430px;
}
.about-pictures > img:nth-child(3) {
    height: 660px;
}
.about-pictures > img:nth-child(4) {
    height: 590px;
}

/* ******************** */
/* *******Mobile App******* */
/* ******************** */

.download-section {
    height: 630px;
    gap: 100px;
    
}
.download-app-text {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    gap:40px;

}

.download-primary-text{
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-60px);
    font-weight: 600;
    line-height: 125%;
}

.download-app-image {
    flex-basis: 100%;
}

/* footer */
footer {
    background-color: hsl(var(--clr-background-container));
    padding: 100px;
    display: flex;
    gap: 100px;
}
footer > * {
    flex-basis: 50%;
}

.footer-main-text {
    color: hsl(var(--clr-text-light));
    font-size: var(--fs-60px);
    font-weight: 600;
    line-height: 125%;
}

.contact-text {
    color: hsl(var(--clr-text-light));
    font-size: var(--fs-24px);
    font-weight: 600;
    line-height: 125%;

}

/* menu */
.menu-heading-text {
    width: 800px;
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-60px);
    font-weight: 600;
    line-height: 125%;
}

.menu-card {
    width: 310px;
}

.menu-card > img {
    border-radius: 40px;
}

.menu-card-info {
    padding: 20px;
}

.menu-card-heading {
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-24px);
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 12px;

}



